body, html {
	margin: 0;
	padding: 0;
    height: 100%;
}
*{
	width: 100%
}
/*.bg-image { 
  /* The image used 
  background-image: url("webagency.jpg");

  /* Full height 
  height: 100%; 

  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

#particles-js {

	height: 100%;
	background: black;

}
/*#logo {

	position: absolute;
	top: 45%;
	left: 30%;
	width: 30%;
}*/

#navbar a {
	
	position: absolute;
	right: 1px;
	transition: 0.4s;
	padding: 50px;
	width: 100px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	border-radius: 0 5px 5px 0;
}
#navbar a:hover{
	
	right: 130px;
}
#about {
	top:20px;
	background-color: yellow;

}
#portfolio {
	top:150px;
	background-color: yellow;

}
#testimonials{
	top:280px;
	background-color: yellow;
}
#pricing {
	top:410px;
	background-color: yellow;

}
.monitor{
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 400px;
    margin: 0 auto;
    /*background: yellow;*/
}
.monitor .content {
    position: relative;
    padding-top: 40px;
    padding-bottom: 67.5%;
    /*background: red;*/
    /*height: 0;*/
}
.content iframe {
    box-sizing: border-box;
    background: url(http://pngimg.com/uploads/monitor/laptop_PNG5889.png) center center no-repeat;
    background-size: contain;
    padding: 1.7% 8.1% 16.7%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testimonials{

	margin: 5px auto;
}
.testimonials h1{
	text-align: center;
	font-weight: bold;
	color: yellow;
	padding-bottom: 10px;
	text-transform: uppercase;

}
.testimonials h1::after{

	content: '';
	background: yellow;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;

}

.testimonials .row{
	display: flex;
	margin-top: 30px;
	justify-content: center;
}
.col-md-4{
	margin: 40px auto;
	flex: 33.33%;
	max-width: 33.33%;
}

.profile{
	padding: 70px 10px 10px;
	background-color: black;
}

.profile img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	top:-60px;
	left: calc(50% - 60px);
	border: 10px solid white;
	position: absolute;
}
.profile:hover{
	box-shadow: 0 0 15px 5px yellow;
}

.testimonials h3{
	font-size: 20px;
	margin-top: 15px;
	color: yellow;

}
.testimonials span{
	font-size: 10px;
	color: white;
}
.testimonials blockquote{
	color: white;
	font-size: 16px;
	line-height: 30px;

}

.testimonials blockquote::before{
	content: open-quote;
	font-size: 50px;
	position: relative;
	color: yellow;
	line-height: 20px;
	bottom: -15px;
	right: 5px;
}

.aboutus{
	text-align: center;
}
.aboutus h1{
	font-weight: bold;
	text-transform: uppercase;
}
.price-heading h1{
	text-align: center;
	font-weight: bold;
	color: yellow;
	padding-bottom: 10px;
	text-transform: uppercase;
}

/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/

/*--------- Font ------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

.wrapper {
    
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: black;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 25%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
    color: yellow;
}
/*PERSONAL*/
.personal .title{        
    background: black;
    color: yellow;    
}
.personal .content,.personal .pt-footer{
    background: black;
}
.personal .content:after{	
	border-top-color: black;	
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: black;
    color: yellow;
}
.professional .content,.professional .pt-footer{
    background: black;
}
.professional .content:after{	
	border-top-color: black;	
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: black;
    color: yellow;
}
.business .content,.business .pt-footer{
    background: black;
}
.business .content:after{	
	border-top-color: black;	
}
.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}


.footer{
    background: black;
    color: black;
    height: 400px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: -1;

}

.footer .footer-content{
	display: flex;
	color: white;

}
.footer .footer-content .footer-section{
	padding: 25px;
	flex: 1;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

